:root {
  --white: #fff;
  --blue-shade: #015E73;
}
body {
  background-color: #000;
}
@media screen and (max-width: 600px) {
  .navbar {
    background: #fff9;
    opacity: 1;
  }
  #navHeader {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navbar-brand {
    text-align: center;
  }
  .card {
    width: 200px;
    height: 250px;
    margin: 0px auto;
    text-align: center;
    background: transparent;
    color: #fff;
    background-color: #fff3;
    border: none;
    outline: none;
    box-shadow: 5px 5px 15px #fff7 ;
    margin-block-end: 20px;
    border-radius: 20px;
  }
  #content {
    padding: 30px;
    line-height: 20px;
  }
  .card-title {
    border-bottom: 2px solid #fff;
    padding: 10px;
  }
  .card-text{
    padding: 15px;
    text-align: justify;
  }
}