* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursored {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #00adb5;
    & .navbar {
      padding: 10px 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50px;
      color: #fff;

      & .menu-icon-container,
      .menu-icon-container > i {
        font-size: 26px;
        color: #ffc7c7;
      }
      & .search-container > i {
        font-size: 20px;
        color: #ffc7c7;
      }
    }
    & .header_links {
      display: none;
    }
    & .header_links.active {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      background-color: #71c9ce;
      min-height: 150px;
      & .link {
        text-decoration: none;
        color: #fff;
      }
    }
    & .header_form {
      display: none;
    }
    & .header_form.active {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: 20px;
      background-color: #71c9ce;

      & input {
        width: 80%;
        padding: 8px;
        outline: none;
        border: none;
        border-radius: 10px;
        border-bottom: 2px solid transparent;
        box-shadow: 0px 20px 20px -70px #fff1;
      }
      & input:focus {
        border-bottom-color: #111;
        border-radius: 0px;
      }
      & button {
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 50%;
      }
    }
  }

  main {
    & .banner {
      background-image: url("./Images/logo.png");
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    & .info {
      padding: 30px;
      text-align: justify;
      & * {
        margin-bottom: 10px;
      }
    }
    & .products {
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-self: center;
      align-self: center;
      row-gap: 30px;

      & .card {
        border: 2px solid #19ada9;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 25px 30px -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        & .card-img > img {
          background-size: cover;
        }
        & .card-body {
          & * {
            margin-bottom: 15px;
            padding: 10px;
            text-decoration: none;
            color: #000;
            text-align: center;
          }
          & .btn {
            background-color: #0066fe;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
