<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dua | Islamic Tutor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./dus.css">
</head>
<body>
  <div class="container-fluid">
    <section>
      <article>
        <h4 class="border-bottom border-4 p-2">Pain in any part of Body</h4>
        <p class="p-2"> بسم الله <br> عودة بالله وقدراتي من شري ما أجيدو وأوداثيرو</p>
        <p class="p-2">Bismillah (x3 times) <br> A'udhu Billahi Wa Qudratihi Min Sharri Ma Ajidu Wa Udadhiru (x7 times)</p>
        <span class="p-2">Sahih Muslim:2202</span>
        <p class="p-2">It is Narrated that Once a man came to prophet Mohammad PBUH and Said <i>O Prophet! PBUH I have a pain in my body which is about to kill me</i> Prophet PBUH replied by telling him put his hand on the place which is in pain and commanded him to recite the above words.</p>
      </article>
      <article>
        <h4 class="border-bottom border-4 p-2">If you need something desperetly</h4>
        <p class="p-2">Dua in arabic : Error</p>
        <p class="p-2">Rabbi Inni Lima Anzalta Illayya min Khayrin Faqir</p>
        <span class="p-2">Al-Quran (28 : 24)</span>
        <p class="p-2">My Lord! Truly, I am in need of whatever good that you bestow on me.</p>
      </article>
      <article>
        <h4 class="border-bottom border-4 p-2">Seeking Knowledge and Provision</h4>
        <p class="p-2">Dua in arabic : Error</p>
        <p class="p-2">Allahhumma Inni As'aluka 'ilman naafian wa rizqan tayyiban wa amalan mutaqabbalan</p>
        <span class="p-2">Ibn Majah and more</span>
        <p class="p-2">It says : <i>O Allah! I ask you knowledge which benifits me , a good provision and deeds that will be accepted.</i> <br> Prophet Mohammad PBUH used to make this especially after Fajr.</p>
      </article>
      <article>
        <h4 class="border-bottom border-4 p-2">80 Years of minor sins will be forgiven (In Shaa Allah)</h4>
        <p class="p-2">Dua in arabic : Error</p>
        <p class="p-2">Allahhumma Sali alaa Muhammadin Abdika Wanabiyika wa'rasulika Nabiyyil Ummi.</p>
        <span class="p-2">Error</span>
        <p class="p-2">Error</p>
      </article>
    </section>
    
  </div>
</body>
</html>