*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  display: flex;
  height:100vh;
  justify-content: space-around;
  overflow-y: hidden;
}
.container-fluid section{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  text-align: center;
}
.container-fluid section article {
  height: 100vh;
  scroll-snap-align: start;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
}